body{
    margin: 0 0 0 0;
    min-width: 1540px;
    min-height: 850px;
    position: relative;
}
div.div_center{
    width: 600px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 30%;
    margin: -100px 0 0 -300px;
    font-size: 16px;
}
input{
    font-size: 16px
}